@using EscapeRoomPlanner.Controllers
@model EscapeRoomPlanner.Data.EntityFramework.Models.Room

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>@Model.Name</h2>
<p>@Model.Description</p>
<h4 style="color: red">@TempData[key: "ErrorMessage"]</h4>
<hr>

<div class="col-12" id="roomReservation">

    <div class="row">
        <div class="col-3">
            Date
            <div class="input-group date" class="datepicker" data-date-format="dd.mm.yyyy" data-provide="datepicker">
                <input type="text" class="form-control dateChange">
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-th"></span>
                </div>
            </div>
            <br/>
        </div>

        <div class="col-9" id="availableRoomsAsync">
            <h3 style="text-align: center">Loading...</h3>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-12">
            <a asp-action="Index" asp-controller="Room" class="btn btn-secondary btn-sm p-2" style="width: 10rem">Back</a>
            <button class="btn btn-success float-right js-new-reservation" style="width: 10rem" disabled>Next</button>
        </div>
    </div>
</div>


@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function() {
            $('.dateChange').datepicker({
                format: 'dd.mm.yyyy'
            }).datepicker("update", new Date);

            const date = $('.dateChange').val();
            setTimeout(function() {
                    getAvailableRooms(date);
                },
                500);

            $('.dateChange').on("change",
                function(e) {
                    $("#availableRoomsAsync").html("<h3 style='text-align: center'>Loading...</h3>");
                    const date = $('.dateChange').val();
                    setTimeout(function() {
                            getAvailableRooms(date);
                        },
                        500);
                });

            $("#roomReservation").on("click",
                ".js-new-reservation",
                function() {
                    const selectedDate = $('.dateChange').val();
                    const selectedTime = $('.selected-room-time').attr("value");

                    window.location = '@Url.Action(nameof(ReservationController.New), controller: "Reservation")/' + "@Model.Id" + "/" + selectedDate + "/" + selectedTime;
                });

            $("#roomReservation").on("click",
                ".js-selected-room-hour",
                function(e) {
                    e.preventDefault();

                    $("a").each(function() {
                        $(this).parent().css("background-color", "");
                    });

                    $(this).parent().css("background-color", "lightgreen");
                    $('.js-new-reservation').prop("disabled", false);

                    $(this).parent().addClass("selected-room-time");
                });
        });

        function getAvailableRooms(selectedDate) {
            $.ajax({
                url: "/room/Available/" + @Model.Id + "/" + selectedDate,
                method: "GET",
                success: function(result) {
                    $("#availableRoomsAsync").html(result);
                    $('.js-new-reservation').prop("disabled", true);
                },
                error: function(error) {
                    console.log("Sth wrong." + error);
                }
            });
        }
    </script>
}