@model System.Collections.Generic.List<EscapeRoomPlanner.Data.EntityFramework.Models.Room>

@{
  ViewBag.Title = "title";
  Layout = "_Layout";
}

<h2>Escape Rooms</h2>

<div class="card-columns">

  @foreach (var room in @Model)
  {
    if (Model.Count != 0)
    {
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">@room.Name</h5>
          <p class="card-text" title="@room.Description">
            @(room.Description.Length > 200 ? @room.Description.Substring(0, 197).Insert(197, "...") :
                @room.Description.Length == 0 ? "No Description" : @room.Description)
          </p>
          <button type="button" class="btn btn-success btn-sm">Book now!</button>
        </div>
      </div>
    }
    else
    {
      <h3>No rooms found!</h3>
    }
  }
</div>
